:root {
  --main-white: #fff;
  --main-gray: #303030;
  --main-black: #181719;
  --main-blue: #9c27b0;
  --main-red: #f44336;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

section {
  padding: 10rem 2rem;
}

section:nth-of-type(odd) {
  background-color: var(--main-gray);
  background: linear-gradient(
    69deg,
    var(--main-gray) 0%,
    var(--main-black) 100%
  );
}

section:nth-of-type(even) {
  background-color: var(--main-blue);
  background: linear-gradient(
    -69deg,
    var(--main-blue) 0%,
    var(--main-black) 100%
  );
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  text-shadow: 2px 2px 1px var(--main-black);
  transition: transform 0.3s ease-out;
}

/* Navigation */

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  z-index: 10;
}

#nav-list {
  display: flex;
  margin-right: 2rem;
}

#nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

/* Welcome Section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    69deg,
    var(--main-gray) 0%,
    var(--main-black) 100%
  );
}

#welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-blue);
}

/* Projects section */

#projects {
  min-height: 100vh;
  padding: 10rem 2rem;
  text-align: center;
}

#projects-header {
  max-width: 980px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-tile {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px var(--main-black);
  border-radius: 2px;
  padding: 8px;
}

.project-tile p {
  text-align: left;
  margin: 16px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project-tile:hover .code {
  color: var(--main-red);
}

/* Contact section */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

#contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  text-shadow: 2px 2px 1px var(--main-black);
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Media */

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-wdith: 490px) {
  #projects {
    padding: 6rem 1rem;
  }

  #projects-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
  #navbar {
    justify-content: center;
  }
  #nav-list {
    margin: 0 1rem;
  }
  #projects-header {
    font-size: 4rem;
  }
  .contact-header > h2 {
    font-size: 4rem;
  }
}
